
</div>
<footer id="footer">

  <span class="footer-icons">
    <i class="fab fa-twitter"></i>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-instagram"></i>
    <i class="fas fa-envelope"></i>
  </span>

  <span>© Copyright 2018 TinDog</span>

</footer>


</body>
</html>
