<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Basic Banking System</title>
  <script src="https://kit.fontawesome.com/e288ab49f9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type= "text/css" href="/css/styles.css">
  <nav class="navbar navbar-default header">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand" style="color: aliceblue;">Sparks Bank</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">Home</a></li>
          <li id="customers"><a href="/customers">View Customers</a></li>
        </ul>
    </div>
  </nav>
  </head>

  <body>
    <div class="container" style="height: max-content;">
   